<h1><%=@qna.title%></h1>
<p>글쓴이 : <%=@qna.user.email%></p>
<b>내용</b>
<p><%=@qna.content%></p>
<a href='/qnas'>목록 </a>
<% if current_user == @qna.user%>
	<a href='/qnas/<%=@qna.id%>/edit'>수정 </a>
	<a href='/qnas/<%=@qna.id%>' data-confirm = '삭제하시겠습니까?' data-method = 'delete'>삭제 </a>
<% end%>

<p>댓글 입력하기</p>
<form action="/qnas/<%=@qna.id%>/qna_comments" method="POST">
	<input type='hidden' name='authenticity_token' value=<%=form_authenticity_token%>></input>
	내용 : <input type="text" name="content" placeholder="댓글 입력하기"></input>
	<input type="submit" value="작성하기"></input>
</form>

<% if true%>
	<table style="width:1000px">
		<tr>
			<th style="width:30%">작성자</th>
			<th>내용</th> 
		</tr>
		<% @comments.each do |x| %>
			<tr>
				<td style="width:30%"><%=x.user.email%></td>
				<td><%=x.content%>&emsp;
				<% if current_user == x.user %>
					<a href = '/qnas/<%=@qna.id%>/qna_comments/<%=x.id%>' data-confirm = '댓글을 삭제하시겠습니까?' data-method = 'delete'>삭제</a>
				<%end%></td>
			</tr>
		<%end%>
	</table>
<%end%>