<!DOCTYPE html>
<html>
  <head>
    <title>MyPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<% if !user_signed_in?%>
			<p><%= link_to "로그인", new_user_session_path%></p>
			<p><%= link_to "회원가입", new_user_registration_path%></p>
		<% else%>
			<p><%= current_user.email%>님 안녕하세요</p>
			<p><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "로그아웃 합니까?"}%></p>
			<p><%= link_to "회원정보 수정", edit_user_registration_path%></p>
		<% end%>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
